.home{
    width: 100%;
}

.home img{
    width: 100%;
    object-fit: contain;
}

.home .services{
    height: 228px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .services-left > span{
    display: inline-block;
    width: 200px;
    margin-right: 70px;
    color: #959595;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.home .services-right{
    display: flex;
    justify-content: space-evenly;
}